<!doctype html>
<html ng-app="optionsApp">
  <head>
    <title>IRCTC Booking Assistant Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/libs/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" ng-controller="optionsCtrl">
      <h1>IRCTC Booking Assistant</h1>
      <div ng-repeat="item in appConfig">
        <div class="row" ng-if="item.control === 'input'">
          <div class="col-md-4">{{item.displayName}}</div>
          <div class="col-md-8">
            <input placeholder="{{item.placeholder}}" type="{{item.type}}" ng-model="travelPlan[item.key].val">{{travelPlan[item.key].val}}
            <span ng-if="item.type === 'date'">{{toDayString(travelPlan[item.key].val)}}</span>
          </div>
        </div>
        <div class="row" ng-if="item.control === 'select'">
          <div class="col-md-4">{{item.displayName}}</div>
          <div class="col-md-8">
            <select ng-model="travelPlan[item.key].val" ng-options="opt.label for opt in item.options">
            </select>{{travelPlan[item.key].val}}   {{item.options}}   {{travelPlan[item.key].val === item.options[0] }} {{item.options.indexOf(travelPlan[item.key].val)}}     
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" ng-click="saveTravelPlan()">Save</button>
        <button class="btn btn-default" ng-click="getTravelPlan()">Load</button>
      </div>
    </div>
  </body>
  <script src="/libs/angularjs1.2.19/angular.js"></script>
  <script src="/options/options.js"></script>
</html>