<!doctype html>
<html ng-app="optionsApp" ng-csp>
  <head>
    <title>IRCTC Typing Assistant Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/libs/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/libs/bootstrap-3.2.0/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <style>
      input.ng-invalid, input.ng-invalid[type="radio"] ~ span, select.ng-invalid {
        background-color: #fcf8e3;
      }
      input.ng-valid, input.ng-valid[type="radio"] ~ span, select.ng-valid {
        background-color: #dff0d8;
      }
    </style>
  </head>
  <body>
    <form name="optionForm">
    <div class="container" ng-controller="optionsCtrl">
      <h1><img src='/libs/icons/icon128.png'>IRCTC Typing Assistant</h1>
       <div class="row">
        <div class="col-md-3">List of Travel Plans:</div>
        <div class="col-md-9">
           <select ng-model="travelPlanList.currentTravelPlan" ng-options="opt.id as opt.name for opt in travelPlanList.list" ng-change="saveTravelPlan(false)"></select>
          <button class="btn btn-default" ng-click="saveTravelPlan(true)">New</button>
          <button class="btn btn-primary" ng-click="saveTravelPlan(false)">Save</button>
          <button class="btn btn-default" ng-click="deleteTravelPlan()">Delete</button>
          <button class="btn btn-default" ng-click="getTravelPlan(false)">Cancel</button>
          <button class="btn btn-success" ng-click="startBooking()" ng-disabled="optionForm.$invalid">Start Booking</button>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div ng-repeat="item in appConfig">
         <div class="row" ng-if="item.control === 'span'">
          <div class="col-md-3">{{item.displayName}}:</div>
          <div class="col-md-9">
            <span>{{travelPlan[item.key]}}</span>
          </div>
        </div>
        <div class="row" ng-if="item.control === 'input'">
          <div class="col-md-3">{{item.displayName}}:</div>
          <div class="col-md-9">
            <input placeholder="{{item.placeholder}}" type="{{item.type}}" ng-model="travelPlan[item.key]" ng-required="item.required"/>
            <span ng-if="item.type === 'date'">{{toDayString(travelPlan[item.key])}}</span>
          </div>
        </div>
        <div class="row" ng-if="item.control === 'typeahead'">
          <div class="col-md-3">{{item.displayName}}:</div>
          <div class="col-md-9">
            <input placeholder="{{item.placeholder}}" type="{{item.type}}" ng-model="travelPlan[item.key]" typeahead="station for station in stationName | filter:$viewValue | limitTo:8" ng-required="item.required"/>
          </div>
        </div>
        <div class="row" ng-if="item.control === 'select'">
          <div class="col-md-3">{{item.displayName}}:</div>
          <div class="col-md-9">
            <select ng-model="travelPlan[item.key]" ng-options="opt.label for opt in item.options">
            </select>{{travelPlan[item.key]}}   {{item.options}}   {{travelPlan[item.key] === item.options[0] }} {{item.options.indexOf(travelPlan[item.key])}}     
          </div>
        </div>
        <div class="row" ng-if="item.control === 'radio'">
          <div class="col-md-3">{{item.displayName}}:</div>
          <div class="col-md-9">
            <span ng-repeat="rdBtn in item.options">
              <input type="{{item.type}}" ng-model="travelPlan[item.key]" ng-value="rdBtn.value" name="{{item.key}}"/>{{rdBtn.label}} &emsp;
            </span>
          </div>
        </div>
        <div ng-if="item.control === 'trainBookingPreference'">
          <div class="row" ng-repeat="choice in travelPlan.preference" ng-init="pref = $index + 1">
            <div class="col-md-3">{{item.displayName}} {{$index + 1}}:</div>
            <div class="col-md-9">{{item.trainNum.displayName}}
               <input placeholder="{{item.trainNum.placeholder}}" type="{{item.trainNum.type}}" ng-model="choice.trainNum" required/>&emsp;&emsp;
               {{item.class.displayName}}
                <span ng-repeat="rdBtn in item.class.options">
                  <input type="{{item.class.type}}" ng-model="choice.class" ng-value="rdBtn.value" name="{{item.class.key + pref}}" required/><span>{{rdBtn.label}}</span> &emsp;
                </span>
               <button type="button" class="btn btn-default" ng-click="deleteBookingPreference($index)" ng-disabled="travelPlan.preference.length <= 1">{{item.deleteBtnCaption}}</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9"><button type="button" class="btn btn-default" ng-click="addBookingPreference()">{{item.addBtnCaption}}</button>
            </div>
          </div>
        </div>
        <div class="row" ng-if="item.control === 'passengerDetail'">
          <table class="table">
            <thead>
              <th>S. No.</th>
              <th>{{item.psgName.displayName}}</th>
              <th>{{item.psgAge.displayName}}</th>
              <th>{{item.psgGender.displayName}}</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="psg in travelPlan.passenger">
                <td>{{$index+1}}</td>
                <td><input placeholder="{{item.psgName.placeholder}}" type="{{item.psgName.type}}" ng-model="psg.psgName" maxLength="60" required/></td>
                <td><input placeholder="{{item.psgAge.placeholder}}" type="{{item.psgAge.type}}" ng-model="psg.psgAge" min="0" max="200" required/></td>
                <td><select ng-model="psg.psgGender" ng-options="opt.value as opt.label for opt in item.psgGender.options" required></select></td>
                <td><button type="button" class="btn btn-default" ng-click="deletePassenger($index)" ng-disabled="travelPlan.passenger.length <= 1">{{item.deleteBtnCaption}}</button></td>
              </tr>
              <tr><td colspan="5"><button type="button" class="btn btn-default" ng-click="addPassenger()" ng-disabled="travelPlan.passenger.length > item.max">{{item.addBtnCaption}}</button></td></tr>
            </tbody>
          </table>
        </div>
        <div class="row">&nbsp;</div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-3">List of Travel Plans:</div>
        <div class="col-md-9">
          <select ng-model="travelPlanList.currentTravelPlan" ng-options="opt.id as opt.name for opt in travelPlanList.list" ng-change="saveTravelPlan(false)"></select>
          <button class="btn btn-default" ng-click="saveTravelPlan(true)">New</button>
          <button class="btn btn-primary" ng-click="saveTravelPlan(false)">Save</button>
          <button class="btn btn-default" ng-click="deleteTravelPlan()">Delete</button>
          <button class="btn btn-default" ng-click="getTravelPlan(false)">Cancel</button>
          <button class="btn btn-success" ng-click="startBooking()" ng-disabled="optionForm.$invalid">Start Booking</button>
        </div>
      </div>
      {{travelPlanList | json}} <br/>
      {{travelPlan | json}}
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <button class="btn btn-danger" ng-click="resetAll()">Reset All</button>
        </div>
      </div>
    </div>
    </form>
  </body>
  <script src="/libs/angularjs1.2.19/angular.js"></script>
  <script src="/libs/angularui/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="/options/stationlistservlet.js"></script>
  <script src="/options/options.js"></script>
</html>